<tr class="row footer">
  <td></td>
  <td class="content">
    <p>
      <a href="{{{CLIENT_APP_URL}}}" target="_blank">Example App</a> is a platform created by the
      <a href="https://example.com" target="_blank">Example</a>
    </p>
  </td>
  <td></td>
</tr>
