<tr class="row main">
  <td></td>
  <td class="content">
    <a class="logo" href="{{{CLIENT_APP_URL}}}">
      <img src="{{{IMAGE_URL}}}/png/logo.png" alt="Logo" />
    </a>
    {{> @partial-block }}
  </td>
  <td></td>
</tr>
