# compiled output
/dist
/tmp
*.map

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/.fleet
*.swp

# misc
/.sass-cache
/.angular
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.DS_Store

# config files
**/token.json
**/token.*.json
**/config.json
**/config.js
!/config/**/*
