@import "variables/variables";

@font-face {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica 25 UltraLight"), url("https://fonts.cdnfonts.com/s/29136/Helvetica25UltraLight_22433.woff") format("woff");
}
