<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  {{> head-content }}
</head>
<body>
  {{> header }}
  <h1>
    {{#each messages as |message|}}
      {{message}}
    {{/each}}
  </h1>
  {{> icons/star size=64 }}
  {{> footer }}
</body>
</html>
